.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
    display: flex;
    align-items: center; 
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 260px;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin-bottom: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) { /*tira margem dos ultimos elementos de cada linha do grid*/
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-last-child(4n+1) { /*tira margem dos peimeiros elementos de cada linha do grid*/
    margin-left: 0;
}

/*mobile*/
@media(max-width: 768px) {
    .cabecalhoPrincipal-nav {
        flex-direction: column; 
    }
    
    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;   
    }
    
    .conteudoPrincipal-cursos {
        flex-direction: column;
    }
    
    .conteudoPrincipal-cursos-link {
        width: 100%;
    }
    
    .rodapePrincipal-navMap-list {
        height: auto;
    }
    
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }
    
    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    
    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }
    
    .rodapePrincipal-contatoForm {
        justify-content: center;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1; /*leva o ultimo item da lista html para a primeira posição quando obedece a fotmatação para mobile*/
    }
}










